@using GymRatFront.Providers;
@inherits LayoutComponentBase




<PageTitle>GymRatFront</PageTitle>
 

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                 <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
   
    <main>
    <div class="top-row page-navigator">
        <PageNavigator />
    </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    protected async override Task OnParametersSetAsync()
    {
        //UserService.LogdChanged += LogedChangedEvent;
    }

    public void LogedChangedEvent(object? sender, bool isLoged)
    {
        InvokeAsync(StateHasChanged);
    }
}
