

 <div class="top-row px-4">
    <a href="/">Home</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="https://localhost:7265/Register">Register</a>
            <a href="https://localhost:7265/Login">Login</a>
            <a href="https://localhost:7265/TrainingScheulde">TrainingSchedule</a>
        </div>
@code {

}
