@page "/AddTrainingScheulde"
@using GymRatApi.Commands.TrainingScheuldeCommands
@using GymRatApi.Dto

<PageTitle>AddTrainingScheulde</PageTitle>

<div class="trainingScheulde-contener">
    <div class="AddTrainingScheulde-item" >
        <EditForm Model="@trainingScheulde" OnSubmit="Create" >
            <InputText @bind-Value="trainingScheulde.Name" />
            @*<InputText @bind-Value="trainingScheulde.Trainings" />*@
            <button type="submit">Stwórz</button>
        </EditForm>
    </div>
</div>


@code {
    private TrainingScheuldeDto trainingScheulde = new();

    private async void Create (EditContext e)
    {
        var trainingScheuldeDto = e.Model as TrainingScheuldeDto;
        if (trainingScheuldeDto is null)
        {
            return; 
        }

        var createTrainingScheuldeCommand = new TrainingScheuldeCreateCommand()
        {
            Name = trainingScheuldeDto.Name,
            UserId = 1
        };

        var client = new HttpClient();
        var respone = await client.PutAsJsonAsync("https://localhost:7060/TrainingScheulde", createTrainingScheuldeCommand);

    } 
}
