@page "/Training"
@using GymRatApi.Dto

<PageTitle>Training</PageTitle>


<div class="training-contener">
    <select class="form-select" aria-label="Default select example" @onchange="SelectChangeEvent">
    @foreach(var training in trainings)
    {
      <option value="@training.Description">@training.Description</option>
    }
    </select>
    <TrainingsEditForm Training="@selectedTraining" />
</div>



@code 
{
    private TrainingDto selectedTraining;
    private List<TrainingDto> trainings = new();

    private void SelectChangeEvent(ChangeEventArgs e)
    {
        Console.WriteLine(e);
        selectedTraining = trainings.FirstOrDefault(t => t.Description == e.Value.ToString());
    }

    protected override async Task OnInitializedAsync()
    {
        var taskTraining = FetchTrainigData();
    }

    private async Task FetchTrainigData()
    {
        var client = new HttpClient();
        var respArray = await client.GetFromJsonAsync<List<TrainingDto>>("https://localhost:7060/Training");
        if (respArray != null)
        {
            trainings = respArray;
            selectedTraining = respArray.FirstOrDefault();
            InvokeAsync(StateHasChanged);
        }
    }

     private async void HandleValidSubmit(object e)
    {
       var moduleObject = e as Microsoft.AspNetCore.Components.Forms.EditContext;
       var trainingDto = moduleObject.Model as TrainingDto;

       var client = new HttpClient();

       var response = await client.PostAsJsonAsync("https://localhost:7060/Trainings/", trainingDto);

    }
}